body{
  color: #40415E;
  margin : 0;
  text-align: center;
font-family: 'Merriweather', serif;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p{
  line-height: 2;
}
h1{
  font-size: 5.25rem;
  font-family: 'Sacramento', cursive;
    margin : 50px auto 0 auto;
    color: #66BFBF;
    position: relative;

}
h2{
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
.top_container{
  position: relative;
  background-color: #E4F9F5 ;
  padding-top: 100px;
  color: #66BFBF;
}

.pik{
  position: fixed;
  left:10%;
  top: 85% ;
}
.middle-container{
  margin: 100px 0;
}
.top-cloud{
  position: absolute;
  right:300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left:300px;
  bottom: 430px;

}
.middle{
  position: relative;
  bottom:25px;

  margin : 0 auto 50px;
  width: auto;
}
a{
  color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.skill-row{
  width:50%;
  margin: 100px auto ;
  text-align: left;

}
.cdm{
  border-radius: 100%;
  width: 30%;
  float: left;
    margin-right: 20px;
}
.ds{
  float: right;
  width: 25%;
}
.Contact-message{
  width: 30%;
  margin: 60px auto 40px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #2483bc);
  background-image: -moz-linear-gradient(top, #11cdd4, #2483bc);
  background-image: -ms-linear-gradient(top, #11cdd4, #2483bc);
  background-image: -o-linear-gradient(top, #11cdd4, #2483bc);
  background-image: linear-gradient(to bottom, #11cdd4, #2483bc);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #3498db);
  background-image: -moz-linear-gradient(top, #30E3CB, #3498db);
  background-image: -ms-linear-gradient(top, #30E3CB, #3498db);
  background-image: -o-linear-gradient(top, #30E3CB, #3498db);
  background-image: linear-gradient(to bottom, #30E3CB, #3498db);
  text-decoration: none;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 40px 0 20px
}
.copyright{
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 20px;
}
